@import "tailwindcss";

@theme {
  --color-theme-primary-dark-cyan: hsl(158, 36%, 37%);
  --color-theme-secondary-dark-cyan: hsl(158, 36%, 18%);
  --color-theme-cream: hsl(30, 38%, 92%);
  --color-theme-very-dark-blue: hsl(212, 21%, 14%);
  --color-theme-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-theme-white: hsl(0, 0%, 100%);

  --font-fraunces: Fraunces, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
}
