---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import imageProduct from "@/assets/image-product-mobile.jpg";
---

<MainLayout title="Frontend Mentor | Product Preview Card">
  <div
    class="mx-auto mt-8 w-[360px] overflow-hidden rounded-lg bg-secondaryWhite"
  >
    <Image src={imageProduct} alt="Parfum" loading={"eager"} />
    <section>
      <p>Perfume</p>
      <h1>Gabrielle Essence Eau De Parfum</h1>
      <p>
        A floral, solar and voluptuous interpretation composed by Olivier Polge,
        Perfumer-Creator for the House of CHANEL.
      </p>
      <p>$149.99</p>
      <p>$169.99</p>
      <div>
        <img src="" alt="" />
        <p>Add to Cart</p>
      </div>
    </section>
  </div>
</MainLayout>
