---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import imageMobile from "@/assets/image-product-mobile.jpg";
import imageDesktop from "@/assets/image-product-desktop.jpg";
---

<MainLayout
  title="Frontend Mentor | Product Preview Card"
  description="A product preview card component challenge from Frontend Mentor."
>
  <main>
    <section
      class="mx-auto my-8 w-90 overflow-hidden rounded-lg bg-theme-white md:my-20 md:grid md:w-150 md:grid-cols-2"
    >
      <Image
        src={imageMobile}
        alt="Parfum"
        loading={"eager"}
        class="md:hidden"
      />
      <Image
        src={imageDesktop}
        alt="Parfum"
        loading={"eager"}
        class="hidden md:block"
      />
      <div class="px-8 py-6">
        <p
          class="mb-3 font-montserrat text-xs tracking-[.35rem] text-theme-dark-grayish-blue uppercase md:mt-2 md:mb-5"
        >
          Perfume
        </p>
        <h1
          class="mb-4 font-fraunces text-[2rem] leading-none font-semibold text-theme-very-dark-blue md:mb-5"
        >
          Gabrielle Essence Eau De Parfum
        </h1>
        <p class="mb-7 text-sm text-theme-dark-grayish-blue md:leading-6">
          A floral, solar and voluptuous interpretation composed by Olivier
          Polge, Perfumer-Creator for the House of CHANEL.
        </p>
        <div class="mb-5 flex items-center md:mb-6">
          <p
            class="mr-4 font-fraunces text-3xl text-theme-primary-dark-cyan md:text-4xl"
          >
            $149.99
          </p>
          <p
            class="text-xs text-theme-dark-grayish-blue line-through md:text-sm"
          >
            $169.99
          </p>
        </div>
        <div
          class="flex items-center justify-center rounded-md bg-theme-primary-dark-cyan py-3.25 focus-within:bg-theme-secondary-dark-cyan hover:cursor-pointer hover:bg-theme-secondary-dark-cyan"
        >
          <img src="/icon-cart.svg" alt="Shoping Cart" class="mr-2 inline" />
          <button
            class="block font-montserrat text-sm text-theme-white focus:outline-hidden"
            type="submit"><span></span>Add to Cart</button
          >
        </div>
      </div>
    </section>
  </main>
</MainLayout>
