---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import imageMobile from "@/assets/image-product-mobile.jpg";
import imageDesktop from "@/assets/image-product-desktop.jpg";
---

<MainLayout
  title="Frontend Mentor | Product Preview Card"
  description="A product preview card component challenge from Frontend Mentor."
>
  <main>
    <section
      class="bg-theme-white mx-auto my-8 w-[360px] overflow-hidden rounded-lg md:my-20 md:grid md:w-[600px] md:grid-cols-2"
    >
      <Image
        src={imageMobile}
        alt="Parfum"
        loading={"eager"}
        class="md:hidden"
      />
      <Image
        src={imageDesktop}
        alt="Parfum"
        loading={"eager"}
        class="hidden md:block"
      />
      <div class="px-8 py-6">
        <p
          class="text-theme-dark-grayish-blue font-montserrat mb-3 text-xs tracking-[.35rem] uppercase md:mt-2 md:mb-5"
        >
          Perfume
        </p>
        <h1
          class="text-theme-very-dark-blue font-fraunces mb-4 text-[2rem] leading-none font-semibold md:mb-5"
        >
          Gabrielle Essence Eau De Parfum
        </h1>
        <p class="text-theme-dark-grayish-blue mb-7 text-sm md:leading-6">
          A floral, solar and voluptuous interpretation composed by Olivier
          Polge, Perfumer-Creator for the House of CHANEL.
        </p>
        <div class="mb-5 flex items-center md:mb-6">
          <p
            class="text-theme-primary-dark-cyan font-fraunces mr-4 text-3xl md:text-4xl"
          >
            $149.99
          </p>
          <p
            class="text-theme-dark-grayish-blue text-xs line-through md:text-sm"
          >
            $169.99
          </p>
        </div>
        <div
          class="bg-theme-primary-dark-cyan focus-within:bg-theme-secondary-dark-cyan hover:bg-theme-secondary-dark-cyan flex items-center justify-center rounded-md py-[13px] hover:cursor-pointer"
        >
          <img src="/icon-cart.svg" alt="Shoping Cart" class="mr-2 inline" />
          <button
            class="text-theme-white font-montserrat block text-sm focus:outline-hidden"
            type="submit"><span></span>Add to Cart</button
          >
        </div>
      </div>
    </section>
  </main>
</MainLayout>
